= semantic_form_for @property do |f|

  = f.actions do

    = hidden_field_tag :hunt_id, @hunt_id

    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link
    
  = f.inputs :name => 'Property' do
    = f.label :price
    = f.input :price

    = f.label :details_url
    = f.url_field :details_url

    / = f.label :rent
    / = f.input :rent

    / = f.label :rent_frequency
    / = f.input :rent_frequency

    / = f.label :property_page
    / = f.input :property_page, :as => :url

    / = f.label :terms
    / = f.input :terms

    / = f.label :listing_blurb
    / = f.input :listing_blurb
