
= field_set_tag 'Property Details' do
  = hidden_field_tag :hunt_id, @hunt_id
  .form-horizontal
    = form_for @property do |f|
      .form-group
        .col-md-4
          = positive_button_submit_tag
      .form-group
        .col-md-2
        .col-md-2
          = f.label :Title
        .col-md-8
          = f.text_field :displayable_address, placeholder: 'Good Target worth investigating..'
      .form-group
        .col-md-2
        .col-md-2
          = f.label :Website
        .col-md-8
          = f.url_field :details_url, placeholder: 'Copy & Paste the link to here :>'
      .form-group
        .col-md-2
        .col-md-2
          = f.label :Description
        .col-md-8
          = f.text_field :short_description, placeholder: 'let us know what makes this special'
      .form-group
        .col-md-2
        .col-md-2
          = f.label :postcode
        .col-md-8
          = f.url_field :postcode, placeholder: 'Just like, N4 7gh'
      .form-group
        .col-md-2
        .col-md-2
          = f.label :price
        .col-md-8
          = f.url_field :price








    