= semantic_form_for @property do |f|

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link
    
  = f.inputs :name => 'Property' do
    = f.label :price
    = f.input :price

    / = f.label :type_listing
    / = f.input :type_listing

    / = f.label :rent
    / = f.input :rent

    / = f.label :rent_frequency
    / = f.input :rent_frequency

    / = f.label :property_page
    / = f.input :property_page, :as => :url

    / = f.label :terms
    / = f.input :terms

    / = f.label :listing_blurb
    / = f.input :listing_blurb
