 
source:
= @property.source
%br

type_listing:
= @property.type_listing
%br

rent:
= @property.rent
%br

rent_frequency:
= @property.rent_frequency
%br

property_page:
= link_to 'link', @property.property_page
%br

terms:
= @property.terms
%br

listing_blurb:
= @property.listing_blurb