.col-md-4
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#particulars"} Particulars
    %li
      %a{"data-toggle" => "tab", href: "#layout"} Layout
    %li
      %a{"data-toggle" => "tab", href: "#notes"} Notes
  .tab-content
    #particulars.tab-pane.active
      = render partial: 'particulars'
    #layout.tab-pane
      = render partial: 'layout'
    #notes.tab-pane
      = render partial: 'notes'
.col-md-4
  .map#map-street
.col-md-4
  .property-show.col-md-10
    - if @property.image_url?
      = image_tag @property.image_url
.col-md-12
  %h2 Comparables
  = add_button_tag "Add Checked as a Comparable", id: "add_comparable", data:{id: @property.id}
  .vertical_spacer
.col-md-12
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#comp_list"} Compariables List
    %li
      %a{"data-toggle" => "tab", href: "#comp_rent"} Possible Comps For RENT
    %li
      %a{"data-toggle" => "tab", href: "#comp_sale"} Possible Comps For SALE
  .tab-content
    #comp_list.tab-pane.active
      = render partial: 'properties'
    #comp_rent.tab-pane
      = render partial: 'properties_rent'
    #comp_sale.tab-pane
      = render partial: 'properties_sale'


:javascript
  window.street = #{@property.outcode.to_json}