
= field_set_tag 'Create a new Hunt' do
  = form_for @hunt do |f|
    = positive_button_submit_tag 'Create Hunt'
    = f.label :name
    = f.text_field :name

    / =f.label :status
    / = f.radio_button('Active', 'Dormant', 'Building')

