= field_set_tag 'Create a new Hunt' do
  .form-horizontal
    = form_for @hunt do |f|
      .col-md-5
        .form-group
          .col-md-2
            = f.label :name
          .col-md-10
            = f.text_field :name
      .col-md-5
        .form-group
          .col-md-2
            = f.label :status
          .col-md-10
            = f.select :status, options_for_select(["foo", "bar"], @status)
          



  
   
      


   

