= field_set_tag 'Create a new Hunt' do
  .form-horizontal
    = form_for @hunt do |f|
      .col-sm-5
        .form-group
          .col-sm-2
            = f.label :name
          .col-sm-10
            = f.text_field :name
      .col-sm-5
        .form-group
          .col-sm-2
            = f.label :name
          .col-sm-10
            = f.text_field :name


  
   
      


   

