= semantic_form_for @hunt do |f|

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link
    
  = f.inputs :name => 'Hunt' do
    = f.label :name
    = f.input :name

   
