.col-md-7
  =button_group do
    =button_link_to "Edit", edit_hunt_path
    =negative_button_link_to "Destroy", @hunt, :confirm => 'Are you sure?', :method => :delete
.col-md-5
  = form_tag add_by_url_hunt_path(@hunt), method: :post do 
    = url_field_tag :url
    = positive_button_submit_tag 'Add a Property URL'
.col-md-12
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#detail"} Core Details
    %li
      %a{"data-toggle" => "tab", href: "#finance"} Financials
    %li
      %a{"data-toggle" => "tab", href: "#fee"} Fee Assumptions
    %li
      %a{"data-toggle" => "tab", href: "#cost"} Running Costs
    - if @hunt.properties
      %li
        %a{"data-toggle" => "tab", href: "#props"} Properties
    - if @hunt.streets
      %li
        %a{"data-toggle" => "tab", href: "#st"} Streets
  .tab-content
    #detail.tab-pane.active
      = render partial: 'hunt_show_detail'
    #finance.tab-pane
      = render partial: 'hunt_show_finance'
    #fee.tab-pane
      = render partial: 'hunt_show_fee'
    #cost.tab-pane
      = render partial: 'hunt_show_cost'
    - if @hunt.properties
      #props.tab-pane
        = render partial: 'hunt_show_props'
    - if @hunt.streets
      #st.tab-pane
        = render partial: 'hunt_show_st'
   




     

