%h2 New Hunt property

= select_tag :hunt_id, options_from_collection_for_select(@hunts, "id", "name")
= add_button_tag "Add to Hunt", id: "submit_hunt_property_selection"
%table.table
  - @properties.each do |property|
    %tr
      %td
        = check_box :property_select_checkbox, property.id,
        {class: "property_checkbox", "data-property-id" => property.id}
      %td= property.displayable_address
      %td= property.listing_id
      %td= property.source