= semantic_form_for @street do |f|

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link
    
  = f.inputs :name => 'Street' do
    = f.label :image_capture
    = f.file_field :image_capture

    = f.label :name
    = f.input :name

    = f.label :postcode
    = f.input :postcode
