= semantic_form_for @street do |f|

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link
    
  = f.inputs :name => 'New' do
    = f.label :name
    = f.input :name

    = f.label :postcode
    = f.input :postcode
