= field_set_tag 'Street Details' do
  .form-horizontal
    = form_for @street do |f|
      .col-md-2
        .form-group
          = positive_button_submit_tag
      .col-md-5
        .form-group
          .col-md-3
            = f.label :name
          .col-md-9
            = f.text_field :name
        .form-group
          .col-md-3
            = f.label :postcode
          .col-md-9
            = f.text_field :postcode, placeholder: 'EC1, N1 8AF, etc.'
        .form-group
          .col-md-5
            = f.label 'Image captured on Location'
          .col-md-7
            = f.file_field :image_capture




