!!!
%html
  %head
    %title BirdDog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-static-top{role: "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: "/"} BIRD_DOG_LOGO HERE

      %form.navbar-form.navbar-left{role: "search"}
        .form-group
          %input.form-control{placeholder: "Search", type: "text"}
        %button.btn.btn-default{type: "submit"} Submit
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "#"} Link
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li.divider
            %li
              %a{href: "#"} Separated link

    - flash.each do |name, message|
      %div(class="flash-message flash-#{name}")
        = message
    .container  

      .row
        .col-md-1
          - menu_pages.each do |page|
            -if current_path == page[1]
              %a.menu-item.selected{href: page[1], id:page[0]}= page[0]
            - else
              %a.menu-item{href: page[1], id:page[0]}= page[0]
        .col-md-11
          = yield

    .footer.navbar.navbar-default.navbar-static-bottom
      =image_tag("https://www.codeship.io/projects/b5c511d0-43d9-0131-5821-0a52a98081fa/status?branch=master")
      =link_to "Model Diagram", root_path + "./erd.pdf"


